
.header {
	position: fixed;
	z-index: 100;
	/*height: 88px;*/
	width: 100%;
	transition: .5s all ease-in-out;

	&__container {
		@media screen and (min-width: $min-lg-desktop-width) {
    		max-width: 1470px;
		}
	}

	&__burger-menu.active {
		rect:first-child {
			transform-origin: left top;
			transform: translateX(3px) rotate(45deg);
		}

		rect:nth-child(2) {
			opacity: 0;
		}

		rect:last-child {
			transform-origin: left bottom;
			transform: translateX(3px) rotate(-45deg);
		}
	}

	&__burger-menu-wrapper {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;

		svg rect {
			transition: ease-in-out .5s all;
		}

		& svg:hover {
			cursor: pointer;
		}

		@media screen and (min-width: 1280px) {
			display: none;
		}
	}

	@media screen and (max-width: $max-desktop-width-for-menu) {
		height: 56px;
	}

	&__wrapper {
		height: 88px;
		
		@media screen and (max-width: 1279px) {
			height: 100%;
		}
	}

	&.scrolled {
		background: #181D45;
	}

	&__socials {
		& path {
			fill: #123955;
		}

		& svg {
			height: 18px;
		}

		width: 100%;
		color: #123955;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		& ul {
			list-style: none;
			margin: 0;
			padding-left: 13px;

			& li {
				margin-left: 9px;
				font-size: 18px;
				display: inline-block;
			}

			&:first-child {
				font-size: 11px;
			}
		}

		& p {
			font-size: 11px;
			font-weight: 500;
			letter-spacing: .28px;
		}
	}

	&__logo img {
		display: block;
		max-width: 217px;

		@media screen and (max-width: $max-desktop-width-for-menu) {
			max-width: 159px;
		}
	}

	&__logo svg {
		display: block;
		max-width: 217px;

		@media screen and (max-width: $max-desktop-width-for-menu) {
			max-width: 159px;
		}
	}

	&__navbar {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;

		@media screen and (max-width: 1279px) {
			padding-right: 0;
		}

		@media screen and (max-width: $max-tablet-width) {
			flex-wrap: wrap;
		}
	}

	&__nav {
		position: relative;
		transition: ease-in-out .5s all;
		display: block;

		.sub-menu:hover {
			display: flex;
		}

		.sub-menu .menu-item {
			position: relative;
		}

		.first-level-menu {
			position: static;
		}

		.first-level-menu:hover > .sub-menu {
			display: flex;
			height: auto;
			overflow: unset;
		}

		.first-level-menu > .sub-menu {
			box-shadow: 2px 2px 5px rgba(35, 42, 70, .16), 0 -2px 12px rgba(24, 29, 69, .08);
			position: absolute;
			top: 0;
			left: 100%;
			margin-left: 15px;
			display: flex;
			overflow: hidden;
			height: 0;
			padding: 0 18px 0 18px;
			flex-direction: column;
			flex-wrap: wrap;

			a {
				font-size: 14px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 15px;
				left: -10px;
				z-index: -1;
				height: 20px;
				width: 20px;
				transform: rotate(45deg);
				clip-path: unset;
				background: #fff;
				align-self: center;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -16px;
				width: 18px;
				height: 100%;
			}

			ul {
				padding-left: 6px;
			}

			li {
				padding-left: 0;
			}

			@media screen and (max-width: $max-desktop-width-for-menu) {
				&:before,
				&:after {
					content: none;
				}
			}
		}

		.sub-menu {
			display: none;
			flex-direction: column;
			position: absolute;
			background: #fff;
			top: 40px;
			box-shadow: 0 1px 2px rgba(35, 42, 70, .16), 0 6px 12px rgba(24, 29, 69, .08);
			border-radius: 4px;
			white-space: nowrap;

			.success-bg-item {
				background: #f8f8fc;
			}

			& li {
				padding-top: 4px;
				padding-bottom: 4px;
				padding-right: 20px;
				padding-left: 20px;
			}

			& li:first-child {
				padding-top: 16px;
			}

			& li:last-child {
				padding-bottom: 16px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&:before {
				box-shadow: 0 1px 2px rgba(35, 42, 70, .16), 0 6px 12px rgba(24, 29, 69, .08);
				content: '';
				position: absolute;
				top: -10px;
				z-index: -1;
				height: 20px;
				width: 20px;
				transform: rotate(45deg);
				background: #fff;
				align-self: center;
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 15px;
				top: -15px;
				left: 0;
			}

			& > li {
				display: block;
				margin: 0;
			}

			li a {
				font-size: 16px;
				line-height: 1.75;
				color: #181d45;
			}
		}

		ul {
			margin: 0;

			li {
				margin-left: 32px;
				list-style: none;
				display: inline-flex;
				justify-content: center;
			}

			li:hover .sub-menu {
				display: flex;
			}

			li:hover a:after {
				transform: rotate(315deg);
			}

			li:hover a:before {
				transform: rotate(-315deg);
			}
		}

		@media screen and (max-width: $max-desktop-width-for-menu) {
			.sub-menu {
				display: flex;
				position: relative;
				top: 0;
			}

			.first-level-menu > .sub-menu {
				position: static;
				flex-wrap: nowrap;
				height: auto;
			}

			.first-level-menu > .sub-menu li:last-child {
				padding-bottom: 4px;
			}

			.sub-menu li:first-child {
				padding-top: 4px;
			}

			.first-level-menu > .sub-menu li a,
			.sub-menu li a {
				color: #fcfcfc;
				font-size: 14px;
				border-bottom: none !important;
			}

			.first-level-menu > .sub-menu li:hover > a {
				color: #da403e;
			}

			.sub-menu:after,
			.sub-menu:before {
				content: none;
			}

			.sub-menu,
			.sub-menu .success-bg-item {
				background-color: transparent;
			}
		}

		@media screen and (max-width: $max-desktop-width-for-menu) {
			&.hidden {
				opacity: 0;

				/* left: -100vw; */
				transform: translateX(-100vw) !important;
			}

			position: absolute;
			height: calc(var(--vh, 1vh) * 100 - 56px);
			top: 56px;
			left: 0;
			transform: translateX(0);
			display: flex;
			align-items: center;
			text-align: center;
			width: 100%;
			background: #12131cf0;
			overflow-y: auto;

			ul li {
				display: block;
				margin-left: 15px;
			}

			ul li a {
				font-size: 30px;
			}
		}

		@media screen and (max-width: $max-landscape-width) {
			justify-content: flex-start;
			text-align: left;
		}
	}

	.nav-menu-container {
		height: inherit;
	}

	.current-menu-item {
		height: 26px;
		border-bottom: solid 2px #fcfcfc;

		&.nonactive,
		&.nonactive a {
			border-bottom: transparent !important;
		}

		@media screen and (max-width: $max-desktop-width-for-menu) {
			height: auto;
			border-bottom: none;

			> a {
				border-bottom: solid 2px #fcfcfc;
			}
		}
	}

	.sub-menu li.current-menu-item {
		height: auto;
		border-bottom: none;
	}

	.nav-menu {
		a:before,
		a:after {
			border-right: 2px solid;
			content: '';
			display: inline-flex;
			height: 8px;
			position: absolute;
			right: -10px;
			width: 0;
			top: 9px;
			transform: rotate(-45deg);
		}

		a:after {
			right: -14px;
			transform: rotate(45deg);
		}

		@media screen and (max-width: $max-desktop-width-for-menu) {
			padding-top: 15px;

			a:before,
			a:after {
				content: none;
			}

			li {
				width: fit-content;
			}

			a {
				display: block;
			}
		}

		ul li a:after,
		ul li a:before {
			content: none;
		}
	}

	.menu-item {
		cursor: pointer;
		position: relative;

		a {
			display: flex;
			align-items: center;
			font-size: 18px;
			line-height: 1.6;
			color: #fcfcfc;
			transition: .2s color ease-out 0s;

			@media screen and (max-width: $max-lg-desktop-width) {
				font-size: 16px;
			}
		}

		&:hover > a {
			color: #da403e;
		}
	}

	&-colored {
        background-color: $darkBlue;
        transition: .5s;
    }

    &-transparent {
        background-color: transparent;
        transition: .5s;
    }

    &__thanks-page {
        @media screen and (max-width: $max-landscape-width) {
            position: absolute;
        }
    }
}

.light-theme.header {
	.current-menu-item {
		height: 26px;
		border-bottom: solid 2px #da403e;

		@media screen and (max-width: $max-desktop-width-for-menu) {
			height: auto;
			border-bottom: none !important;
		}
	}

	.sub-menu a {
		color: #181d45 !important;
	}

	.sub-menu li a:hover {
		color: #da403e !important;
	}

	svg rect {
		fill: #da403e;
	}

	.header__burger-menu.active {
		& svg rect {
			fill: #fff;
		}
	}

	.menu-item {
		cursor: pointer;

		a {
			color: #181d45;
		}

		a:hover {
			color: #da403e;
		}
	}

	&.scrolled .menu-item {
		a {
			color: #fff;
		}

		a:hover {
			color: #da403e;
		}
	}

	&.scrolled .current-menu-item {
		border-bottom: solid 2px #fff;
	}


	@media screen and (max-width: $max-desktop-width-for-menu) {
		.menu-item a {
			color: #fff !important;
		}

		&.scrolled .header__burger-menu svg rect {
			fill: #fff;
		}

		.current-menu-item {
			border-bottom: solid 2px #fff;
		}
	}
}


.header-colored .colored {
    transition: .5s;
    color: $mainLightGrey;

    @media screen and (max-width: 1199.98px) {
        color: $darkBlue;
    }
}

.header-colored .colored-cliked, .header .colored-cliked{
    /*color: $mainRed;*/
    border-bottom: 3px solid $mainLightGrey;

}

.header-colored .header__menu-mobile-list .colored-cliked,  .header .header__menu-mobile-list .colored-cliked{
    color: $mainRed;

    &:before {
        content: ' ';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 22px;
        border-bottom: 3px solid $mainRed;
    }
}