.white {
  color: white;
}
.dark {
  color: $darkBlue;
}
.red {
  color: $mainRed;
}

.trademark {
  font-size: 1em;
  position: relative;
  top:-3px;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: $white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background:$mainRed;
  border-radius: 2px;

  &:hover {
      cursor: pointer;
      background: #ec5553;
  }
}
