$mainBlue: #1383b3;

$white: #ffffff;
$mainRed: #DA403E;
$mainLightBlue: #21ABDF;
$mainLightGrey: #f8f8fc;
$mainGrey: #bdbdbd;

$darkBlue:  #181D45;

$max-lg-desktop-width: 1910px;
$min-lg-desktop-width: 1367px;
$max-md-desktop-width: 1366.98px;
$min-md-desktop-width: 1200px;
$max-desktop-width-for-menu: 1279px;
$max-desktop-width: 1199.98px;
$min-desktop-width: 992px;
$max-tablet-width: 991.98px;
$min-tablet-width: 768px;
$max-landscape-width: 767.98px;
$min-landscape-width: 576px;
$max-mobile-width: 575.98px;
$min-mobile-width: 376px;
$max-mobile-mini-width: 375.98px;
$max-i-width: 320px;

$small-width: 540px;
$medium-width: 720px;
$large-width: 960px;
// $extra-large-width: 1276px;
$extra-large-width: 1250px;
$super-extra-large-width: 1470px;

$max-ultra-width-desktop-width: 1919.98px;
$max-extra-lg-desktop-width: 1439.98px;