$mainBlue: #1383b3;

$white: #ffffff;
$mainRed: #DA403E;
$mainLightBlue: #21ABDF;
$mainLightGrey: #f8f8fc;
$mainGrey: #bdbdbd;
$darkBlue:  #181D45;

$max-lg-desktop-width: 1910px;
$max-md-desktop-width: 1366.98px;
$max-desktop-width: 1199.98px;
$max-tablet-width: 991.98px;
$max-landscape-width: 767.98px;
$max-mobile-width: 575.98px;
$max-mobile-mini-width: 375.98px;

// $asset-var: '/assets/';