<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init webpack 5</title>
    <meta name="description" content="Init webpack 5 project">
</head>
<body>
    <%= require('html-loader!./assets/components/general/header.html') %> <!-- require header -->

    <main class="main">
  
      <%= require('html-loader!./assets/components/main-block.html') %> <!-- require main-block -->
      
    </main>
  
    <%= require('html-loader!./assets/components/general/footer.html') %> <!-- require footer -->
</body>
</html>